<h1>Assigned</h1>
    <% @assigned_crew.each do |crew| %>
        <li><%=link_to crew.rank, "/crewmembers/#{crew.id}/edit"%> <%=link_to crew.name, "/crewmembers/#{crew.id}/edit"%></li>
    <% end %>

    <h1>Unassigned</h1>
    <% @unassigned_crew.each do |crew| %>
        <li><%=link_to crew.rank, "/crewmembers/#{crew.id}/edit"%> <%=link_to crew.name, "/crewmembers/#{crew.id}/edit"%></li>
    <% end %>



